*{
  padding: 0;
  margin: 0;
}

.editor{
  display: flex;
  
}

.fileStructure{
  width: 20vw;
  background-color: rgb(21, 21, 21);
}

.aceEditor{
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.terminal-container{

  height: 10vh;
}

.filePath{
  width: 100%;
  background-color: rgb(37, 42, 37);
  color: rgb(203, 222, 190);
  height: 5%;
 


}

.welcome{
  width: 100%;
  background-color: rgb(31, 34, 34);
  height: 80vh;
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

.editors{
  display: flex;
  height: 100%;
}


.button-31 {
  background-color: #292929;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: absolute;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto; /* Changed from 100% to auto */
  z-index: 99;
  bottom: 0%;
  left: 50%;
   /* Center the button horizontally */
  transform: translateX(-50%); /* Adjust position to center */
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

.outputClass{
  position: relative;
}
